.caa
{
    height:400px;
    background-color: rgba(214, 64, 202, 0.4);
}
.ii
{
    width:600px;
    height:350px;
    margin-top: 20px;
}
.aaa
{
    margin-top:100px;
}
.get
{color:white;
    width:150px;
    height:40px;
    background-color: blue;
    margin-top: 40px;
    margin-left: 5px;
}