body{
    background-color: rgba(224, 224, 122, 0.945);
}
.sttop
{
    background-color: rgb(172, 40, 212);
    height:80px;
    align-items: center;
    display: flex;
}
.head
{
    margin: auto;
}
.sthome
{
    background-color: rgba(60, 173, 113);
    margin-left:0px;
    height:420px;

}
.stl
{
    color:white;
}
.eventheading
{
    text-align: center;
    color:azure
}
.event{
    background-color: rgba(233, 197, 35, 0.932);
    color:rgb(15, 151, 122);
    font-style: bold;
    
}
.da
{
    line-height: 20px;
}
.mode
{
    margin-left: 0px;

}

.not,.extra,.app
{
    width:250px;
    height:420px;
    margin-left: 80px;
    
}
.not{
    background-color: rgb(228, 54, 219);
}
.extra{
    background-color: rgba(233, 197, 35, 0.932)
}
.app{
    background-color: rgb(223, 220, 81)
}
